body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
  }
  
  h1 {
    text-align: center;
    font-size: 50px;
    margin: 0;
    font-weight: 300;
    color: inherit;
    padding: 25px;
  }
  
  
  header{
    height: 300px;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background-image: url(images/1719750.webp)
  }
  
  /* NAVIGATION */
  nav {
    width: 60%;
    margin: auto;
    background: #fff;
    padding: 25px 0;
    box-shadow: 0px 5px 0px #dedede;
  }
  nav ul {
    list-style: none;
    text-align: center;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #aaa;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }
  nav ul li a:hover {
    color: #555;
  }
  
  
  /* stroke */
  nav.stroke ul li a,
  nav.fill ul li a {
    position: relative;
  }
  nav.stroke ul li a:after,
  nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
  }
  
  
  nav.fill ul li a {
    transition: all 2s;
  }
  
  nav.fill ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
  }
  nav.fill ul li a:hover {
    color: #fff;
    z-index: 1;
  }
  nav.fill ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
  }
  .hero-banner { 
    background-size: cover;
    background-position: center;
    min-height: 400px;
    padding: 1%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
  }
  .Star-Map {
    background-image: url("images/R.jpeg");
  }

  @-webkit-keyframes fill {
    0% {
      width: 0%;
      height: 1px;
    }
    50% {
      width: 100%;
      height: 1px;
    }
    100% {
      width: 100%;
      height: 100%;
      background: #333;
    }
  }
  