* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: #555;
  }
  
  h1 {
    text-align: left;
    font-size: 50px;
    margin: 0;
    font-weight: 300;
    color: inherit;
    padding: 25px;
    color: #fff;
    display: inline-block;
    color: #333;
  }
  
  
  header{
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #fff;
  }
  
  nav {
    width: 50%;
    margin-top: 10px;
    background: rgb(255, 255, 255);
    padding: 25px; 
  }
  nav ul,
  address ul {
    list-style: none;
    text-align: center;
  }
  nav ul li,
  address ul li {
    display: inline-block;
  }
  nav ul li a,
  address ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #aaa;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before,
  address ul li a,
  address ul li a:after,
  address ul li a:before {
    transition: all .5s;
  }
  nav ul li a:hover,
  address ul li a:hover {
    color: #555;
  }
  
  nav.stroke ul li a,
  nav.fill ul li a,
  address.stroke ul li a,
  address.fill ul li a  {
    position: relative;
  }
  nav.stroke ul li a:after,
  nav.fill ul li a:after,
  address.stroke ul li a:after,
  address.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
  }
  
  
  nav.fill ul li a,
  address.fill ul li a {
    transition: all 2s;
  }
  
  nav.fill ul li a:after,
  address.fill ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
  }
  nav.fill ul li a:hover,
  address.fill ul li a:hover {
    color: #fff;
    z-index: 1;
  }
  nav.fill ul li a:hover:after,
  address.fill ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
  }
  
  main {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100px;

  }
  article {
   background-color: rgb(255, 255, 255);
   margin: 30px;
   padding: 30px;
   height: 300px;
   display: inline-block;
   flex-wrap: wrap;
   
   }
   h2 {
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
  
   }
   h3,
   h5 {
    margin-bottom: 10;
    padding-bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
   }

   article p {
    text-align: center;
   }

   address {
    margin-top: 10px;
    background: rgb(255, 255, 255);
    padding: 25px; 
    box-shadow: 0px 5px 0px #686869;
  }
   .pro-photo {
    margin-left: 20px;
    height: 300px;
    float: right;
   }

   .contact-me {
    background-color: #fff;
    display: inline-block;
    margin-top: 20px;
    padding: 50px;
   }

   .projects {
    margin: 25px 0;
    padding: 10px;
    width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    background-color: #fff;
  }
  
  .projects > div {
    flex: 0 0 77%;
  }
  
  .projects p {
    margin-bottom: 20px;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 12%;
  }
  
  .flex-item {
    border: #555 5px solid;
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
    
  }
  
  .flex-item:first-child {
      min-height: 400px;
      flex-basis: 100%;
  }
  
  .flex-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .flex-item div {
    padding: 8px 10px;
    color: #fff;
  }
  
  .flex-item h4 {
    font-size: 1.6rem;
  }
  
  .cat {
    background-image: url('images/513271524c7f991dd2658b600895580c.jpg');
  }
  
  .water {
    background-image: url("images/OIP.jpeg");
  }
  
  .star-map {
    background-image: url("images/ori_3483586_3c128402bd38c7d985ad63adae5532c9acd5c2ac_vector-sky-star-map-with-constellations-stars.jpg");
  }
  @-webkit-keyframes fill {
    0% {
      width: 0%;
      height: 1px;
    }
    50% {
      width: 100%;
      height: 1px;
    }
    100% {
      width: 100%;
      height: 100%;
      background: #333;
    }
  }